# Dependencies
node_modules/

# Environment & Secrets
.env
.env.local
*.pem

# Build output
dist/
build/

# Logs
logs/
*.log

# Prisma generated artifacts
/src/generated/prisma

# Uploads & Temp
uploads/
tmp/

# IDE & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db